extends layout

block head
    script(type="text/javascript", src="/js/petricity.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")

block body
    div(style="height: 100%;")
        img(style="height: 97%;" src="/img/1.png", alt="nice")

    iframe(src="/blockly" style="position: absolute; bottom: 15%; left: 20%; width: 50%; height: 20%;")
