doctype
html(lang="en")
    head
        title Petricity

        meta(charset="utf-8")
        meta(name="author", content="Petricity")
        meta(name="keywords", content="")
        meta(name="description", content="")
        meta(name="viewport", content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no")

        link(rel="favicon", href="/img/nice.png")
        link(href="/css/style.css", rel="stylesheet", type="text/css")

        script(type="text/javascript", src="/js/jquery-1.11.1.min.js")
        block head
    body
        block body
